html {
	font-size:62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: white;
	background-color: #1d1d1d;
	display:block;
	padding-left: 13rem;
	margin: 0px 0px 0px 0px;
	overflow-y:scroll;
	overflow-x:hidden;
}

nav {
	display: block;
}

label {
  display: inline-block;
}

.fixed-left {
	position: fixed;
	top: 0;
	right: auto;
	left: 0;
	bottom: 0;
	z-index: 2001;
}

.navi-bar {
	width: 13rem;
	background-color: #282626;
	height: 100vh;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.nav-name {
	text-align: center;
	width: 100%;
	display: block;
	line-height: 15rem;
	border-bottom: 1px solid #282626;
	background-color: black;
}

.nav-item a {
	text-align: center;
	width: 100%;
	display: block;
	line-height: 5rem;
	border-bottom: 1px solid #e11414;
}

.nav-item a:hover {
	color: #ee9d35;
}

#mainscreen {
	position: relative;
}

#mainscreen canvas {
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
	display: inline-block;
	background-color: black;
}

#mainscreen section {
	padding-left: 5rem;
	width: 100%;
	z-index: 2001;
	position: relative;
}

#about_seft {
	height: 100vh;
	/*width: 100%;
	background: linear-gradient(to bottom, rgba(140, 100, 81, 0.5) 0%, rgba(125, 78, 43, 0.5) 100%), url("../images/background.jpg");
	*/background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainscreen h2,
.text-center{
	/*position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;*/
	text-align: center;
}

.text-zone {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
}

h1 {
	font-size: 8rem;
	line-height: 8rem;
	font-weight: 1;
}

.ms-item{
	margin-bottom: 6rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
}

h2 {
	font-size: 3.6rem;
	line-height: 3rem;
	font-weight: 1;
}

.item-pic {
	background-color: white;
	width: 8rem;
	height: 10rem;
}

h3 {
	font-size:2rem;
	padding-top:0;
	margin-top: 0;
	margin-bottom: 0;
}
.item-info {
	padding-left: 1rem;
}

#education_ {
	height: 100vh;
	/*width: 100%;*/
}

#work_ {
	height: 100vh;
	/*width: 100%;*/
}

#work_ .ms-item:hover {
	transform: matrix(1.15, 0, 0, 1.15, 60, 0);
}

#work_ .ms-item {
	cursor: pointer;
}

#projects_ {
	
}

#projects_ ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

#projects_ ul li {
	width: 23%;
	position: relative;
	overflow: hidden;
	text-align: center;
	margin-bottom: 3rem;
}

.closebtn {
	font-size: 3rem;
	cursor: pointer;
	float: right;
	width: 4rem;
	background-color: #c41a1a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-list {
	padding-bottom: 30px;
}

.item-list .eff-zoom {
	width: 20rem;
	height: 20rem;
	margin: 0 auto;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #023546;
	cursor: pointer;
}

.eff-zoom:hover{
	transform: scale(1.2);
}

deslt {
	display: none;
	position: fixed;
	height: 100vh;
	width: 50%;
	top: 0;
	left: 20%;
	background-color: #eed485;
	color: black;
	z-index: 9999;
	padding-left: 3rem;
}

overlay {
	display: none;
	background: url(../images/overlay.png) repeat 0 0;
	z-index: 9998;
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	top: 0;
	left: 0;
}

description {
	display: none;
}

